html {
    scroll-behavior: smooth;
}

body {
    padding-top: 50px;
}

/* NAVBAR */

body {
    font-family: Arial, sans-serif;
    background-color: #000;
    color: white;
}

img.logo {
    width: 70px;
    border-radius: 30px;
    cursor: pointer;
}

.bg-dark {
    background-color: #000000 !important;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
    background: rgba(0, 0, 0, 0.95) !important;
    backdrop-filter: blur(10px);
    box-shadow: 0 2px 15px rgba(0,0,0,.3);
}

a.btn.btn-login {
    background: transparent;
    border-color: fuchsia;
    color: fuchsia;
    border-radius: 19px;
    cursor: pointer;
}

a.btn.btn-registro {
    background: linear-gradient(45deg, #f362f3bf, #ffc5c5e6);
    border-color: #f362f3bf;
    border-radius: 19px;
    color: #fffefe;
    cursor: pointer;
}

.navbar-dark .navbar-nav .nav-link {
    color: white;
    transition: 0.3s;
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: #ff4fd8;
}

.navbar-dark .navbar-nav .active>.nav-link {
    color: #ff4fd8;
    font-weight: bold;
}

/* NAVBAR END */

/* FOOTER */

/* REDES */

.social-links {
    display: flex;
    justify-content: center;
    gap: 15px;
    flex-wrap: wrap;
    margin-top: 15px;
    margin-bottom: 15px;
}

.social-btn {

    width: 52px;
    height: 52px;
    font-size: 1.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: #111;
    border: 1px solid rgba(255, 255, 255, .08);
    color: #ff4fd8;
    transition: .3s;
}

.social-btn:hover {

    color: white;
    background: #ff4fd8;
    text-decoration: none;
    transform: translateY(-5px);
}

footer.py-4 {
    background: linear-gradient(45deg, #610061, #a2b7bce3);
    padding-top: 1.5rem !important;
    padding-bottom: 1rem !important;
}


.h5,
h5 {
    font-size: 1.25rem;
    color: #ff4fd8;
}

/* FOOTER END */